{% extends "base.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/static/css/lista.css">

<body data-login-url="{% url 'login' %}" data-is-authenticated="{{ user.is_authenticated }}">

  <div class="dashboard-header">Menú de Galletas</div>
  <div class="galletas-container">
    {% for galleta in galletas %}
    <div class="galleta-item">
      <div class="galleta-imagen-container">
        {% if galleta.imagen %}
        <img src="{{ galleta.imagen.url }}" class="galleta-imagen">
        {% else %}
        <div class="galleta-sin-imagen">No disponible</div>
        {% endif %}
      </div>
      <div class="galleta-detalles">
        <h5 class="galleta-nombre">{{ galleta.nombre }}</h5>
        <p class="galleta-precio">${{ galleta.precio_venta|floatformat:2 }}</p>
        <select id="presentacion_{{ galleta.id_galleta }}" class="galleta-select">
          <option value="Individual">Individual</option>
          <option value="Bolsa">Bolsa (15 piezas)</option>
          <option value="Caja">Caja (50 piezas)</option>
        </select>
        <div class="galleta-cantidad-container">
          <input type="number" id="cantidad_{{ galleta.id_galleta }}" class="galleta-cantidad" value="1" min="1"
            max="100" oninput="validarCantidad(this)">
        </div>
        <br><button class="galleta-boton-agregar agregar-carrito btn-dark" style="margin-left: 160px;"
          data-id="{{ galleta.id_galleta }}">+</button>
      </div>
    </div>
    {% endfor %}
  </div>

  <button id="abrir-carrito">🛒</button>
  <div id="carrito-overlay">
    <div id="carrito">
      <button id="btn-cerrar-carrito" class="btn btn-danger">&times;</button>
      <h4>Carrito de Compras</h4>
      <ul id="lista-carrito">
        {% for item in carrito.values %}
        <li class="item-carrito" data-id="{{ item.id }}"
          style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f8f9fa; border-radius: 8px; margin-bottom: 8px;">
          {% if item.imagen %}
          <img src="{{ item.imagen }}" alt="{{ item.nombre }}"
            style="width: 50px; height: 50px; margin-right: 10px; object-fit: cover; border-radius: 5px;">
          {% else %}
          <div class="galleta-sin-imagen" style="width: 50px; height: 50px; margin-right: 10px;">No disponible</div>
          {% endif %}
          <span>{{ item.nombre }}
            <br>Precio individual: ${{ item.precio_venta|floatformat:2 }}
            <br><span>cantidad:{{ item.cantidad }} pieza(s)</span>
            <br><span>Subtotal: ${{ item.subtotal|floatformat:2 }}</span>
            <br><button class="btn btn-danger btn-sm eliminar-item" data-id="{{ item.id_galleta }}">Eliminar</button>
        </li>
        {% endfor %}
      </ul>
      <div id="total-carrito">Total: ${{ total_carrito|floatformat:2 }}</div>
      <button id="btn-comprar" class="btn-dark" data-id="{{ id_venta }}">Comprar</button>
    </div>
  </div>

  <script src="/static/js/lista.js"></script>
</body>
{% endblock %}