{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.28/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.28/dist/sweetalert2.min.js"></script>

{% block content %}
{% if messages %}
<div class="alert-container">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}

<link rel="stylesheet" href="/static/css/detalle.css">

<div class="detalle-compra-container">
  <h4 class="titulo-detalle">Detalle de tu Compra</h4>

  <form method="post" action="{% url 'finalizar_compra' %}">
    {% csrf_token %}

    <div class="detalle-list-container">
      <div class="productos-lista">
        <ul class="detalle-list">
          {% for item in carrito %}
          <li class="detalle-item">
            <div class="producto-info">
              <div class="imagen">
                {% if item.imagen %}
                <img src="{{ item.imagen }}" class="producto-imagen">
                {% else %}
                <div class="galleta-sin-imagen">No disponible</div>
                {% endif %}
              </div>
              <div>
                <h5 class="producto-nombre">{{ item.nombre }}</h5>
                <p class="producto-descripcion">{{ item.descripcion }}</p>
              </div>
            </div>
            <div class="precio-cantidad">
              <span class="precio">${{ item.precio_venta|floatformat:2 }}</span>
              <br><span class="cantidad">{{ item.cantidad }} Pieza(s)</span>
            </div>
            <div class="subtotal">
              <span>Subtotal: ${{ item.subtotal|floatformat:2 }}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="resumen-compra">
        <div class="totales">
          <div class="total">
            <span>Total:</span>
            <span>$ {{ total|floatformat:2 }}</span>
          </div>
        </div>
        <button type="submit" class="btn-finalizar">Finalizar Compra</button>
      </div>
    </div>
  </form>
</div>

<script src="/static/js/detalle.js"></script>
{% endblock %}