{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/historial.css">

<div class="container">
    <h3 class="title">Historial de Compras</h3>

    {% if ventas_con_totales %}
    <div class="table-wrapper">
        <table class="purchase-table">
            <thead>
                <tr>
                    <th>N°Compra</th>
                    <th>Fecha</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ventas_con_totales %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.venta.fecha_venta|date:"d/m/Y" }}</td>
                    <td>${{ item.total|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="no-purchases">
        No tienes compras registradas.
    </div>
    {% endif %}
</div>
{% endblock %}
