{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static '/js/jquery-3.7.1.min.js'%}"></script>
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">Home</a>
            </li>

            {% if user.is_authenticated == False %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'registro' %}">Registro</a>
            </li>

            {%else%}

            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {%csrf_token%}
              <button type="submit">logout</button>
            </form>

            {% endif%}

            {% if user.is_authenticated%}
            
            {% if perms.usuarios.admin%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listado_usuarios'%}"
                  >Usuarios</a>
              </li>
            {% endif %}

            {% endif %}
          

            {% if user.is_authenticated%}
            
            {% if perms.usuarios.empleado%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_proovedor'%}">Proovedores </a>
              </li>
            {% endif %}

            {% endif %}

           

            <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">Galletas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">Insumos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">Produccion</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'listado_galletas'%}">Tienda</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">Ventas</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {%block content%} {%endblock content%}
    <script src="{% static '/js/bootstrap.min.js'%}"></script>
  </body>
</html>
