
{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="margin-top: 200px;">
    <h1 class="text-center">Listado de insumos</h1>

    <a href="{% url 'agregar_insumo' %}" class="btn btn-primary">Agregar Insumo</a>
    <a href="{% url 'agregar_compra_insumo' %}" class="btn btn-success">Agregar compra de insumo</a>
    <a href="{% url 'registrar_merma_insumo' %}" class="btn btn-success">Registrar merma de insumo</a>

    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>descripcion</th>
                <th>precio venta</th>
                <th>cantidad</th>
             
            </tr>
        </thead>
        <tbody>
            {% for galleta in galletas %}
            <tr>
                <td>{{ galleta.nombre }}</td>
                <td>{{ galleta.cantidad }} {{insumo.tipo_medida}}</td>
                <td>{{ galleta.estatus}}</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
