{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Lista de Ventas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Fecha de Venta</th>
                <th>Total</th>
                <th>Tipo</th>
                <th>Estatus</th>
                <th>Usuario</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in ventas %}
                <tr>
                    <td>{{ item.id_venta }}</td>
                    <td>{{ item.fecha_venta }}</td>
                    <td>${{ item.total }}</td>
                    <td>{{ item.tipo }}</td>
                    <td>{{ item.estatus }}</td>
                    <td>{{ item.id_usuario }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No hay ventas registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}