input, select {
    border: 1px solid #ced4da !important;
    border-left: none !important;
    border-radius: 0 8px 8px 0 !important;
    padding: 10px !important;
    background-color: #f5f7fa !important;
    width: 90%;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
  }
  
  .form-switch .form-check-input {
    height: 24px;
    width: 48px;
    margin-left: -2.5rem;
  }