{%extends "base.html"%}
{% load static %}
    {%block content%}
    <div style= "margin-top: 200px;">
        <h1 class="text-center">Listado de usuarios</h1>
    
        <a href = "{% url 'registro_admin' %}"  >Agregar Usuario</a>
        <table class= "table table-striped">
            <thead>
                <th>Nombre</th>
                <th>telefono</th>
                <th>correo</th>
                <th>puesto</th>
                <th>Estatus</th>
              
            </thead>
            <tbody>
                {%for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.rol}}</td>
                        <td>
                            {% if usuario.is_active %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                        <td><a href="{% url 'editar_usuario' usuario.id_usuario %}">Editar</a> </td>
                        <td><a href="{% url 'eliminar_usuario' usuario.id_usuario %}">Eliminar</a> </td>
                    </tr>
                {%endfor%}
        </table>
    </div>
  
    {%endblock content%}