{%extends "base.html"%}
{% load static %}
    {%block content%}


    <div style = "display: flex; justify-content: center; margin-top: 200px;">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
           
            <div class="mb-3">
                <label class="form-label">Correo:</label>
                {{form.correo}}

                <label class="form-label">Contrasenia:</label>
                {{form.contrasenia}}
            </div>

            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        


            <button type="submit" class="btn btn-success btn-lg w-100">Iniciar sesion</button>
        </form>
    </div>         
    </div>

   
      
 
    {%endblock content%}