{%extends "base.html"%}
{% load static %}
    {%block content%}


    <div style = "display: flex; justify-content: center; margin-top: 200px;">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
           
            <div class="mb-3">
                <label class="form-label">Nombre:</label>
                {{form.nombre}}

                <label class="form-label">telefono:</label>
                {{form.telefono}}

                <label class="form-label">correo:</label>
                {{form.correo}}

                <label class="form-label">contraseña:</label>
                {{form.contrasenia}}

                <label class="form-label">rol:</label>
                {{form.rol}}
            </div>

            {%for error in field.errors%}
                <p>{{error}}</p>
            {%endfor%}


            <button type="submit" class="btn btn-success btn-lg w-100">Guardar</button>
        </form>
    </div>         
    </div>

   
      
 
    {%endblock content%}